body{
    background-color: #141313;
}
h1, h2, li{
    color: #bebebe;
    text-align: center;
}
p{
    color: #bebebe;
    font-size: 18px;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}
h3{
    color: #B4AD9E;
    font-size: 14px;
}
img{
    display: flex;
margin: 0 auto;
margin-top: 10px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}